.menu-section {
  border-bottom: 12px dotted black;
  padding-bottom: 2em;
  margin-top: 2em;
}

.menu-section__title {
  font-weight: bold;
  text-transform: uppercase;
}

.menu-section__subtitle {
  font-weight: bold;
}