/* Main */

.intro {
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
  height: calc(100vh - 65px);
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10%;
}

.intro__gallery {
  overflow: hidden;
}

.intro__slogan {
  height: calc(100vh - 65px);
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  text-shadow: 2px 0 0 #000;
}

.intro__slogan--title {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.intro__background {
  position: absolute;
  top: 65px;
  left: 10%;
  width: 48%;
  height: calc(100vh - 65px);
  background-color: #1a1818;
  animation: 0.5s fade-in linear;
  z-index: -1;
}

@keyframes fade-in {
  0% {
    opacity: 1;
    width: 0%;
  }
  100% {
    opacity: 1;
    width: 48%;
  }
}

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
--------------------------------------------*/

/* 1824 - ...  - desktop extra large */
@media all and (min-width: 1824px) {
  .intro {
    width: 80%;
  }

  .intro__gallery {
    width: 40%;
    height: calc(100vh - 65px);
  }

  .intro__slogan {
    width: 60%;
  }

  .intro__slogan--title {
    font-size: 6em;
    line-height: 1.5em;
    margin-top: 1em;
  }

  .intro__slogan--address {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
}

/* 1281 - 1823  - desktop large */

@media all and (min-width: 1281px) and (max-width: 1823px) {
  .intro {
    width: 80%;
  }

  .intro__gallery {
    width: 50%;
    height: calc(100vh - 65px);
  }

  .intro__slogan {
    width: 40%;
    z-index: 1;
  }

  .intro__slogan--title {
    font-size: 4em;
    line-height: 1.5em;
    margin-top: 2em;
  }

  .intro__slogan--address {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
}

/*----------------
 1280-1024 - desktop (default grid)
 ----------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) {
  .intro {
    width: 80%;
  }

  .intro__gallery {
    width: 50%;
    height: calc(100vh - 65px);
  }

  .intro__slogan {
    width: 50%;
  }

  .intro__slogan--title {
    font-size: 3.5em;
    line-height: 1.5em;
    margin-top: 2em;
  }

  .intro__slogan--address {
    margin-bottom: 1em;
    font-size: 1.2em;
  }
}

/*---------------------------
 1024-768 - tablet landscape
 --------------------------*/

@media all and (min-width: 768px) and (max-width: 1024px) {
  .intro {
    width: calc(100% - 2em);
    margin-top: 65px;
  }

  .intro__gallery {
    width: 100%;
    height: calc(100vh - 65px);
    opacity: 0.7;
  }

  .intro__slogan {
    position: absolute;
    top: 2em;
    left: 3.8em;
    height: calc(100vh - 65px);
    z-index: 1;
  }

  .intro__slogan--title {
    font-size: 4em;
    line-height: 1.5em;
    margin-top: 1em;
  }

  .intro__slogan--address {
    font-size: 1.5em;
  }
}
/*------------
768-480 - tablet
------------*/
@media all and (min-width: 480px) and (max-width: 768px) {
  .intro {
    width: calc(100% - 2em);
    margin-top: 65px;
  }

  .intro__gallery {
    width: 100%;
    height: calc(100vh - 65px);
    opacity: 0.7;
  }

  .intro__slogan {
    height: calc(90vh - 65px);
  }

  .intro__slogan--title {
    font-size: 4em;
    line-height: 1.5em;
    margin-top: 1em;
  }

  .intro__slogan--address {
    font-size: 1.5em;
  }
}

/* Portrait */
@media screen and (orientation: portrait) {
  /* Portrait styles here */
  .intro__gallery {
    position: absolute;
    top: 4em;
    left: 1em;
    margin: auto;
    height: 100vh;
    width: calc(100vw - 2em);
  }

  .intro__background {
    display: none;
  }

  .intro__slogan {
    position: absolute;
    top: 4em;
    left: 1.5em;
    z-index: 1;
  }

  .intro__slogan--address {
    font-weight: bold;
  }
}
/* Landscape */
@media screen and (orientation: landscape) {
  /* Landscape styles here */
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .intro__slogan {
    height: 62vh;
  }
}
