.arrow-up {
  width: 30px;
  max-height: 40px;
  display: inline-block;
  transform: rotate(-180deg);
  z-index: 300;
  margin-right: 1em;
  position: fixed;
  bottom: 2em;
  right: 1em;
}

.arrow-up:hover {
  cursor: pointer;
}

.arrow-up path {
  stroke: rgb(226, 140, 11);
  fill: transparent;
  stroke-width: 3px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.8;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.8;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrow-up path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrow-up path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrow-up path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}
