/*-----MAIN-----*/

.contacts-page {
  position: fixed;
  margin-top: 65px;
  color: white;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 100%;
  height: calc(100vh - 65px);
}

.contacts-page a {
  color: white;
}

.contacts-page__title {
  position: absolute;
}

.contacts-page__info {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    'address  maps'
    'phone  working-time'
    'social .';
}

.contacts-page__address,
.contacts-page__phone,
.contacts-page__maps,
.contacts-page__working-time,
.contacts-page__social {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 10%;
}

.contacts-page__social {
  grid-area: social;
}

.contacts-page__address {
  grid-area: address;
}

.contacts-page__phone {
  grid-area: phone;
}

.contacts-page__maps {
  grid-area: maps;
}

.contacts-page__working-time {
  grid-area: working-time;
}
/* Small screens - MOBILE */

/* max-width 640px, mobile-only styles, orientation: portrait */
@media only screen and (max-width: 40em) and (orientation: portrait) {
  .contacts-page {
    position: relative;
  }
  .contacts-page__title {
    top: 0%;
    left: 5%;
    font-size: 1.2em;
  }

  .contacts-page__info {
    font-size: 1.2em;
    width: 90%;
    height: 100%;
    margin-left: 1%;
    margin-top: 30%;
    margin-bottom: 1em;
    grid-row-gap: 2em;
    grid-template-areas:
      'address'
      'phone'
      'maps'
      'working-time'
      'social';
  }

  .contacts-page__address,
  .contacts-page__phone,
  .contacts-page__maps,
  .contacts-page__working-time {
    width: 90vw;
  }

  .contacts-page__social {
    width: 50%;
    margin-bottom: 2em;
  }
}

/* max-width 640px, mobile-only styles, orientation: landscape */
@media only screen and (max-width: 40em) and (orientation: landscape) {
  .contacts-page {
    position: relative;
  }
  .contacts-page__title {
    top: 0%;
    left: 5%;
    font-size: 1.2em;
  }

  .contacts-page__info {
    font-size: 1.2em;
    width: 90%;
    height: 100%;
    margin-left: 1%;
    margin-top: 15%;
    margin-bottom: 1em;
    grid-row-gap: 2em;
    grid-template-areas:
      'address'
      'phone'
      'maps'
      'working-time'
      'social';
  }

  .contacts-page__address,
  .contacts-page__phone,
  .contacts-page__maps,
  .contacts-page__working-time {
    width: 90vw;
  }

  .contacts-page__social {
    width: 50%;
    margin-bottom: 2em;
  }
}

/* Medium screens - TABLET */

/* min-width 641px and max-width 1024px, orientation: portrait */
@media only screen and (min-width: 40.063em) and (max-width: 64em) and (orientation: portrait) {
  .contacts-page {
    position: relative;
  }
  .contacts-page__title {
    top: 1%;
    left: 5%;
    font-size: 1.5em;
  }

  .contacts-page__info {
    font-size: 1.2em;
    width: 100%;
    height: 70%;
    margin-left: 5%;
    margin-top: 20%;
    grid-row-gap: 2em;
  }

  .contacts-page__address,
  .contacts-page__phone,
  .contacts-page__maps,
  .contacts-page__working-time {
    margin-left: 0%;
  }

  .contacts-page__social {
    width: 30%;
    margin-left: 0%;
    margin-bottom: 2em;
  }
}

/* min-width 641px and max-width 900px, orientation: landscape */
@media only screen and (min-width: 40.063em) and (max-width: 56em) and (orientation: landscape) {
  .contacts-page {
    position: relative;
  }
  .contacts-page__title {
    display: none;
  }

  .contacts-page__info {
    font-size: 1.1em;
    width: 100%;
    height: 70%;
    margin-left: 5%;
    margin-top: 2%;
    grid-row-gap: 1.5em;
    grid-template-areas:
      'address  phone'
      'maps  working-time'
      'social .';
  }

  .contacts-page__address,
  .contacts-page__phone,
  .contacts-page__maps,
  .contacts-page__working-time {
    margin-left: 0%;
  }

  .contacts-page__social {
    width: 30%;
    margin-left: 0%;
    margin-bottom: 2em;
  }
}

/* min-width 901px and max-width 1024px, orientation: landscape */
@media only screen and (min-width: 56.063em) and (max-width: 64em) and (orientation: landscape) {
  .contacts-page__title {
    top: 10%;
    left: 5%;
    font-size: 1.4em;
  }

  .contacts-page__info {
    font-size: 1.2em;
    width: 60%;
    height: 70%;
    margin-left: 35%;
    margin-top: 10%;
  }

  .contacts-page__address,
  .contacts-page__phone,
  .contacts-page__maps,
  .contacts-page__working-time {
    margin-left: 10%;
  }

  .contacts-page__social {
    width: 20%;
    margin-left: 10%;
  }
}

/* Large screens - DESKTOP */
/* min-width 1025px, large screens */

/* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  .contacts-page__title {
    top: 12%;
    left: 5%;
    font-size: 1.5em;
  }

  .contacts-page__info {
    font-size: 1.2em;
    width: 60%;
    height: 50%;
    margin-left: 35%;
    margin-top: 10%;
  }

  .contacts-page__address,
  .contacts-page__phone,
  .contacts-page__maps,
  .contacts-page__working-time {
    margin-left: 10%;
  }

  .contacts-page__social {
    width: 20%;
    margin-left: 10%;
  }
}

/* XLarge screens */

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  .contacts-page__title {
    top: 15%;
    left: 10%;
    font-size: 1.5em;
  }

  .contacts-page__info {
    font-size: 1.2em;
    width: 60%;
    height: 50%;
    margin-left: 35%;
    margin-top: 10%;
  }

  .contacts-page__address,
  .contacts-page__phone,
  .contacts-page__maps,
  .contacts-page__working-time {
    margin-left: 10%;
  }

  .contacts-page__social {
    width: 20%;
    margin-left: 10%;
  }
}

/* XXLarge screens */
/* min-width 1921px, xlarge screens */
@media only screen and (min-width: 120.063em) {
  .contacts-page__title {
    top: 12%;
    left: 10%;
    font-size: 1.5em;
  }

  .contacts-page__info {
    font-size: 1.2em;
    width: 60%;
    height: 50%;
    margin-left: 35%;
    margin-top: 10%;
  }

  .contacts-page__address,
  .contacts-page__phone,
  .contacts-page__maps,
  .contacts-page__working-time {
    margin-left: 10%;
  }

  .contacts-page__social {
    width: 20%;
    margin-left: 10%;
  }
}
