@import './indexSectionsStyles/intro.scss';
@import './indexSectionsStyles/about.scss';
@import './indexSectionsStyles/team.scss';

.index {
  width: 100%;
  color: white;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  height: auto;
}
