/* Main */
.index {
  width: 100%;
  color: white;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  height: auto;
}

.index__cover {
  position: relative;
  width: 80%;
  margin-bottom: 3em;
  margin-left: 10%;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100vh;
  opacity: 0.8;
}
.index__cover-text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%;
  height: 100vh;
  margin-left: 25%;
  margin-right: auto;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

.index__cover-title {
  text-align: left;
  font-weight: 700;
  text-shadow: 2px 0 1px black;
}

.index__description {
  margin: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 3em;
  z-index: 200;
}

.index__description-text a {
  color: white;
}

.index__description-image {
  background-size: cover;
}

.home__media {
  z-index: 200;
  margin: auto;
  display: grid;
  grid-gap: 5px;
}

.home__media-item-one {
  grid-area: item-one;
}
.home__media-item-two {
  grid-area: item-two;
}
.home__media-item-three {
  grid-area: item-three;
}
.home__media-item-four {
  grid-area: item-four;
}
.home__media-item-five {
  grid-area: item-five;
}
.home__media-item-six {
  grid-area: item-six;
}
.home__media-item-seven {
  grid-area: item-seven;
}
.home__media-item-eight {
  grid-area: item-eight;
}
.home__media-item-one,
.home__media-item-two,
.home__media-item-three,
.home__media-item-four,
.home__media-item-five,
.home__media-item-six,
.home__media-item-seven,
.home__media-item-eight {
  background-size: contain;
  background-repeat: no-repeat;
}

.home__media a {
  font-size: 0;
  opacity: 0.7;
}

.home__media a:hover {
  opacity: 1;
}

/*
  ##Device = Desktops
  ##Screen = 1680 to higher resolution desktops
*/

@media all and (min-width: 1690px) {
  .index__cover-title {
    font-size: 4.5vw;
    line-height: 7vw;
  }

  .index__description {
    width: 80%;
  }

  .index__description-image {
    width: 45%;
  }

  .index__description-text {
    width: 40%;
    font-size: 1.7em;
    line-height: 1.8em;
  }

  .index__description-image {
    width: 50%;
    height: 75vh;
  }

  .home__media {
    margin-bottom: 10%;
    width: 80%;
    height: 80vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'item-one item-two item-three item-four'
      'item-five item-six item-seven item-eight';
  }
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) and (max-width: 1681px) {
  .index__description {
    width: 80%;
    height: 60vh;
  }

  .index__description-image {
    width: 40%;
    height: auto;
  }

  .index__description-text {
    width: 40%;
    font-size: 1.3em;
    line-height: 1.7em;
  }

  .home__media {
    margin-top: 7em;
    width: 80%;
    height: 70vh;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas:
      'item-one item-two item-three item-four'
      'item-five item-six item-seven item-eight';
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .index {
    margin-top: 70px;
  }

  .index__cover {
    margin-bottom: 2em;
    height: 60vh;
  }

  .index__cover-title {
    font-size: 4em;
    line-height: 1.3em;
    font-weight: bold;
    top: 7%;
    left: 10%;
  }

  .index__cover-image {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 60%;
    height: auto;
  }

  .index__description {
    width: 80%;
    margin: auto;
  }

  .index__description-image {
    width: 50%;
    height: auto;
  }

  .index__description-text {
    width: 40%;
    font-size: 1.2em;
    line-height: 1.8em;
  }

  .home__media {
    margin-top: 7em;
    width: 80%;
    height: 70vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'item-one item-two item-three item-four'
      'item-five item-six item-seven item-eight';
  }
}

@media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .index {
    margin-top: 70px;
  }

  .index__cover {
    margin-bottom: 5em;
    height: 50vh;
  }

  .index__cover-title {
    font-size: 4em;
    line-height: 1.3em;
    font-weight: bold;
    top: 5%;
    left: 10%;
  }

  .index__cover-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
  }

  .index__description {
    width: 80%;
    margin: auto;
  }

  .index__description-image {
    width: 50%;
    height: auto;
  }

  .index__description-text {
    width: 40%;
    font-size: 1.2em;
    line-height: 1.8em;
  }

  .home__media {
    margin-top: 7em;
    width: 80%;
    height: 60vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'item-one item-two item-three item-four'
      'item-five item-six item-seven item-eight';
  }

  .home__media a {
    opacity: 1;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .index {
    margin-top: 70px;
  }

  .index__cover {
    margin-bottom: 5em;
    height: 35vh;
  }

  .index__cover-title {
    font-size: 4.5em;
    line-height: 1.3em;
    font-weight: bold;
    top: 3%;
    left: 10%;
  }

  .index__cover-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
  }

  .index__description {
    width: 80%;
    margin: auto;
  }

  .index__description-image {
    display: none;
  }

  .index__description-text {
    width: 100%;
    font-size: 1.2em;
    line-height: 1.8em;
  }

  .home__media {
    margin-top: 7em;
    width: 80%;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'item-one item-two '
      'item-three item-four'
      'item-five item-six'
      'item-seven item-eight';
  }

  .home__media a {
    opacity: 1;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .index {
    margin-top: 70px;
  }

  .index__cover {
    margin-bottom: 5em;
    height: 60vh;
  }

  .index__cover-title {
    font-size: 4em;
    line-height: 1.3em;
    font-weight: bold;
    top: 5%;
    left: 10%;
  }

  .index__cover-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
  }

  .index__description {
    width: 80%;
    margin: auto;
  }

  .index__description-image {
    display: none;
  }

  .index__description-text {
    width: 100%;
    font-size: 1.2em;
    line-height: 1.8em;
  }

  .home__media {
    margin-top: 7em;
    width: 80%;
    height: 150vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'item-one item-two '
      'item-three item-four'
      'item-five item-six'
      'item-seven item-eight';
  }
  .home__media a {
    opacity: 1;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
  .index {
    margin-top: 70px;
  }

  .index__cover {
    margin-bottom: 5em;
    min-height: 70vh;
  }

  .index__cover-title {
    font-size: 3em;
    line-height: 1.3em;
    font-weight: bold;
    top: 3%;
    left: 10%;
  }

  .index__cover-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
  }
  .index__description {
    width: 80%;
    margin: auto;
  }

  .index__description-image {
    display: none;
  }

  .index__description-text {
    width: 100%;
    font-size: 1.2em;
    line-height: 1.8em;
  }

  .home__media {
    margin-top: 7em;
    width: 80%;
    height: 200vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'item-one item-two '
      'item-three item-four'
      'item-five item-six'
      'item-seven item-eight';
  }

  .home__media a {
    opacity: 1;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .index__cover {
    margin-bottom: 5em;
    height: 20vh;
  }

  .index__cover-title {
    font-size: 2em;
    line-height: 1.3em;
    font-weight: bold;
    top: 0;
    left: 5%;
  }

  .index__cover-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
  }

  .index__description {
    width: 80%;
    margin: auto;
  }

  .index__description-image {
    display: none;
  }

  .index__description-text {
    width: 100%;
    font-size: 1em;
    line-height: 1.8em;
  }

  .home__media {
    margin-top: 7em;
    width: 80%;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 0;
    grid-template-areas:
      'item-one'
      'item-three'
      'item-five '
      'item-eight';
  }

  .home__media a {
    opacity: 1;
  }
  .home__media-item-one,
  .home__media-item-three,
  .home__media-item-five,
  .home__media-item-eight {
    height: 50vh;
  }
}
