/* Main */
.index {
  width: 100%;
  color: white;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  height: auto;
}

.index__intro {
  margin-bottom: 10%;
}

.index__intro--background {
  position: absolute;
  top: 65px;
  left: 10%;

  width: 48%;
  height: calc(100vh - 65px);
  background-color: #1a1818;
  animation: 0.5s fade-in linear;
  z-index: -1;
}

@keyframes fade-in {
  0% {
    opacity: 1;
    width: 0%;
  }
  100% {
    opacity: 1;
    width: 48%;
  }
}

.index__description {
  margin: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  background-color: white;
  color: black;
  justify-content: space-between;
  align-items: flex-start;
  height: auto;
  margin-bottom: 10%;
}

.index__description--text a {
  color: black;
}

.index__description--gallery {
  overflow: hidden;
}

.index__media {
  width: 80%;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.index__media--title {
  text-align: center;
}

.index__media a {
  font-size: 0;
  opacity: 0.8;
}

.index__media a:hover {
  opacity: 1;
}

/*
  ##Device = Desktops
  ##Screen = 1680 to higher resolution desktops
*/

@media (min-width: 1680px) {
  .index__intro {
    width: 80%;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    height: calc(100vh - 65px);
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
  }

  .index__intro--gallery {
    width: 40%;
    height: calc(100vh - 65px);
    overflow: hidden;
  }

  .index__intro-slogan {
    width: 60%;
    height: calc(100vh - 65px);
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
  }

  .index__intro-slogan--title {
    font-size: 6em;
    line-height: 1.5em;
    margin-top: 1em;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .index__intro-slogan--address {
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  .index__description {
    width: 80%;
  }

  .index__description--image {
    -webkit-background-size: cover;
    background-size: cover;
    width: 50%;
    height: 70vh;
  }

  .index__description--text {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.5em;
    line-height: 2em;
  }

  .index__media--title {
    font-size: 4em;
  }
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) and (max-width: 1679px) {
  .index__intro {
    width: 80%;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    height: calc(100vh - 65px);
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
  }

  .index__intro--gallery {
    width: 60%;
    height: calc(100vh - 65px);
    overflow: hidden;
  }

  .index__intro-slogan {
    width: 40%;
    height: calc(100vh - 65px) !important;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
  }

  .index__intro-slogan--title {
    font-size: 4em;
    line-height: 1.5em;
    margin-top: 2em;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .index__intro-slogan--address {
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  .index__description {
    width: 80%;
    height: auto;
  }

  .index__description--image {
    -webkit-background-size: cover;
    background-size: cover;
    width: 50%;
    height: 70vh;
  }

  .index__description--text {
    width: 40%;
    font-size: 1.3em;
    line-height: 1.7em;
    margin-left: 5%;
    margin-right: 5%;
  }

  .index__media {
    width: 80%;
    height: auto;
  }

  .index__media--title {
    font-size: 4em;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .index__intro {
    width: 80%;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    height: calc(100vh - 65px);
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
  }

  .index__intro--gallery {
    width: 50%;
    height: calc(100vh - 65px);
    overflow: hidden;
  }

  .index__intro-slogan {
    width: 50%;
    height: calc(100vh - 65px);
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
  }

  .index__intro-slogan--title {
    font-size: 3.5em;
    line-height: 1.5em;
    margin-top: 2em;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .index__intro-slogan--address {
    margin-bottom: 1em;
    font-size: 1.2em;
  }

  .index__description {
    width: 80%;
    height: auto;
  }

  .index__description--image {
    -webkit-background-size: cover;
    background-size: cover;
    width: 50%;
    height: 70vh;
  }

  .index__description--text {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.2em;
    line-height: 1.8em;
  }

  .index__media {
    width: 80%;
    height: auto;
  }

  .index__media--title {
    font-size: 4em;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .index__intro {
    width: calc(100% - 2em);
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    height: calc(100vh - 65px);
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
  }

  .index__intro--gallery {
    width: 100%;
    height: calc(100vh - 65px);
    overflow: hidden;
    opacity: 0.7;
  }

  .index__intro-slogan {
    position: absolute;
    top: 2em;
    left: 1.5em;
    height: calc(100vh - 65px);
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    z-index: 10;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
  }

  .index__intro-slogan--title {
    font-size: 4em;
    line-height: 1.5em;
    margin-top: 1em;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .index__intro-slogan--address {
    font-size: 1.5em;
  }

  .index__description {
    width: 95%;
  }

  .index__description--text {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    font-size: 1.2em;
    line-height: 1.8em;
  }

  .index__media {
    width: 95%;
    height: auto;
  }

  .index__media :nth-child(3),
  .index__media :nth-child(5) {
    display: none;
  }

  .index__media--title {
    font-size: 4em;
  }

  .index__media a {
    opacity: 1;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .index__intro {
    width: calc(100% - 2em);
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    height: calc(100vh - 65px);
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
  }

  .index__intro--gallery {
    width: 100%;
    height: calc(100vh - 65px);
    overflow: hidden;
    opacity: 0.7;
  }

  .index__intro-slogan {
    position: absolute;
    top: 2em;
    left: 3.8em;
    height: calc(100vh - 65px);
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    z-index: 10;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
  }

  .index__intro-slogan--title {
    font-size: 4em;
    line-height: 1.5em;
    margin-top: 1em;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .index__intro-slogan--address {
    font-size: 1.5em;
  }

  .index__description {
    width: 90%;
  }

  .index__description--text {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    font-size: 1.2em;
    line-height: 1.8em;
  }

  .index__media {
    width: 90%;
    height: auto;
  }

  .index__media :nth-child(3),
  .index__media :nth-child(5) {
    display: none;
  }

  .index__media--title {
    font-size: 4em;
  }
  .index__media a {
    opacity: 1;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 823px
*/

@media (min-width: 481px) and (max-width: 823px) and (orientation: landscape) {
  .index__intro {
    width: 95%;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    height: 80vh;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
  }

  .index__intro--gallery {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    opacity: 0.7;
  }

  .index__intro-slogan {
    position: absolute;
    top: 3em;
    left: 2.2em;
    height: 80vh;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    z-index: 10;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
  }

  .index__intro-slogan--title {
    font-size: 3em;
    line-height: 1.2em;
    margin-top: 1em;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .index__intro-slogan--address {
    font-size: 1.2em;
  }

  .index__description {
    width: 90%;
  }

  .index__description--text {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    font-size: 1em;
    line-height: 1.5em;
  }

  .index__media {
    width: 90%;
    height: auto;
  }

  .index__media :nth-child(3),
  .index__media :nth-child(5),
  .index__media :nth-child(6),
  .index__media :nth-child(7) {
    display: none;
  }

  .index__media--title {
    font-size: 3em;
  }

  .index__media a {
    opacity: 1;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .index__intro {
    width: calc(100% - 2em);
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
  }

  .index__intro--gallery {
    width: 100%;
    height: 65vh;
    overflow: hidden;
    opacity: 0.7;
  }

  .index__intro-slogan {
    position: absolute;
    top: 2em;
    left: 1.5em;
    height: 65vh;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    z-index: 10;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
  }

  .index__intro-slogan--title {
    font-size: 2em;
    line-height: 1.2em;
    margin-top: 2.5em;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .index__intro-slogan--address {
    font-size: 1.1em;
  }

  .index__description {
    width: 90%;
  }

  .index__description--text {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    font-size: 1em;
    line-height: 1.5em;
  }

  .index__media {
    width: 90%;
    height: auto;
  }

  .index__media :nth-child(3),
  .index__media :nth-child(5),
  .index__media :nth-child(6),
  .index__media :nth-child(7) {
    display: none;
  }

  .index__media--title {
    font-size: 2em;
  }

  .index__media a {
    opacity: 1;
  }
}
