@import './indexSectionsStyles/intro.scss';
@import './indexSectionsStyles/about.scss';
@import './indexSectionsStyles/team.scss';

.index {
  width: 100%;
  color: white;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  height: auto;
}

.image-gallery {
  width: 100%;
  height: 100%;
}
.image-gallery * {
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
}
