/*-----MAIN-----*/
/* Main */
.menu-page {
  background: white;
  color: black;
  margin: 65px auto;
}

.menu-page__upper {
  font-weight: bold;
  position: absolute;
  top: 1.7em;
  right: 8em;
}

.menu-page__section {
  border-bottom: 12px dotted black;
  padding-bottom: 2em;
  margin-top: 2em;
}

.menu-page__section--last {
  margin-top: 2em;
  margin-bottom: 2em;
}

.menu-page:last-shild {
  border-bottom: none;
}

.menu-page__submenu {
  z-index: 200;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.menu-page__submenu-title {
  font-weight: bold;
}

.menu-page__submenu-button {
  background-color: white;
  padding: 0 !important;
  height: 3em;
  color: rgb(55, 53, 53);
  border: none;
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  margin-right: 1em;
  margin-top: 0.5em;
  font-size: 1em;
  outline: none;
  text-transform: uppercase;
  text-decoration: underline;
}

.menu-page__submenu-button:hover {
  color: orange;
}

.menu-page__section-title {
  font-weight: bold;
  text-transform: uppercase;
}

.menu-page__section-subtitle {
  font-weight: bold;
}

.menu-page__wrapper {
  padding-top: 2em;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* Small screens - MOBILE */

/* max-width 640px, mobile-only styles, orientation: portrait */
@media only screen and (max-width: 40em) and (orientation: portrait) {
  .menu-page {
    font-size: 0.75em;
    line-height: 2em;
    width: 95%;
  }

  .menu-page__upper {
    font-weight: bold;
    position: absolute;
    top: 3.3em;
    right: 1em;
    font-size: 1.5em;
  }

  .menu-page__wrapper {
    width: 95%;
    margin: auto;
  }
}

/* max-width 640px, mobile-only styles, orientation: landscape */
@media only screen and (max-width: 40em) and (orientation: landscape) {
  .menu-page {
    font-size: 1em;
    line-height: 3em;
    font-weight: 500;
    width: 95%;
  }

  .menu-page__upper {
    font-weight: bold;
    position: absolute;
    top: 1.9em;
    right: 1em;
    font-size: 1.5em;
  }

  .menu-page__wrapper {
    width: 95%;
    margin: auto;
    height: 100%;
  }
}

/* Medium screens - TABLET */

/* min-width 641px and max-width 1024px, orientation: portrait */
@media only screen and (min-width: 40.063em) and (max-width: 64em) and (orientation: portrait) {
  .menu-page {
    font-size: 1.1em;
    line-height: 3em;
    font-weight: 500;
    width: 95%;
  }

  .menu-page__wrapper {
    margin: auto;
    width: 95%;
  }
  .menu-page__upper {
    font-weight: bold;
    position: absolute;
    top: 1.7em;
    right: 1em;
    font-size: 1.5em;
  }
}

/* min-width 641px and max-width 1024px, orientation: landscape */
@media only screen and (min-width: 40.063em) and (max-width: 64em) and (orientation: landscape) {
  .menu-page {
    font-size: 1.2em;
    line-height: 3em;
    font-weight: 500;
    width: 95%;
  }

  .menu-page__wrapper {
    height: 100%;
    width: 95%;
    margin: auto;
    justify-content: flex-end;
  }
  .menu-page__upper {
    font-weight: bold;
    position: absolute;
    top: 1.6em;
    right: 1em;
    font-size: 1.5em;
  }
}

/* Large screens - DESKTOP */
/* min-width 1025px, large screens */

/* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  .menu-page {
    font-size: 1.2em;
    line-height: 3em;
    font-weight: 500;
    width: 80%;
  }

  .menu-page__wrapper {
    height: 100%;
    width: 95%;
    margin: auto;
    justify-content: flex-end;
  }
  .menu-page__upper {
    font-weight: bold;
    position: absolute;
    top: 1.5em;
    right: 4em;
    font-size: 1.5em;
  }
}

/* XLarge screens */

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  .menu-page {
    font-size: 1.5em;
    line-height: 3em;
    font-weight: 500;
    width: 80%;
  }

  .menu-page__wrapper {
    width: 80%;
    margin: auto;
    height: 100%;
  }

  .menu-page__upper {
    font-weight: bold;
    position: absolute;
    top: 1.3em;
    right: 5.5em;
    font-size: 1.5em;
  }
}

/* XXLarge screens */
/* min-width 1921px, xlarge screens */
@media only screen and (min-width: 120.063em) {
  .menu-page {
    font-size: 1.5em;
    line-height: 3em;
    font-weight: 500;
    width: 80%;
  }

  .menu-page__wrapper {
    width: 80%;
    margin: auto;
    height: 100%;
  }

  .menu-page__upper {
    font-weight: bold;
    position: absolute;
    top: 1.3em;
    right: 5.5em;
    font-size: 1.5em;
  }
}
