/* Main */
.menu-page {
  background: white;
  color: black;
  margin: 65px auto;
}

.menu-page__upper {
  font-weight: bold;
  position: absolute;
  top: 1.7em;
  right: 8em;
}

.menu-page__section {
  border-bottom: 12px dotted black;
  padding-bottom: 2em;
  margin-top: 2em;
}

.menu-page__section--last {
  margin-top: 2em;
  margin-bottom: 2em;
}

.menu-page:last-shild {
  border-bottom: none;
}

.menu-page__submenu {
  z-index: 200;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.menu-page__submenu-title {
  font-weight: bold;
  text-decoration: underline;
}

.menu-page__submenu-button {
  background-color: white;
  padding: 0 !important;
  height: 3em;
  color: rgb(55, 53, 53);
  border: none;
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  margin-right: 1em;
  margin-top: 0.5em;
  font-size: 1em;
  outline: none;
  text-transform: uppercase;
}

.menu-page__submenu-button:hover {
  text-decoration: underline;
}

.menu-page__section-title {
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
}

.menu-page__section-subtitle {
  font-weight: bold;
}

.menu-page__wrapper {
  padding-top: 2em;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  .menu-page {
    font-size: 1.5em;
    line-height: 3em;
    font-weight: 500;
    width: 80%;
  }

  .menu-page__wrapper {
    width: 80%;
    margin: auto;
    height: 100%;
  }

  .menu-page__upper {
    font-weight: bold;
    position: absolute;
    top: 1.3em;
    right: 5.5em;
    font-size: 1.5em;
  }
}

@media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .menu-page {
    font-size: 1.3em;
    line-height: 3em;
    font-weight: 500;
    width: 80%;
  }

  .menu-page__wrapper {
    width: 90%;
    margin: auto;
    height: 100%;
    justify-content: flex-end;
  }
  .menu-page__upper {
    font-weight: bold;
    position: absolute;
    top: 1.6em;
    right: 4em;
    font-size: 1.5em;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .menu-page {
    font-size: 1.3em;
    line-height: 3em;
    font-weight: 500;
    width: 80%;
  }

  .menu-page__wrapper {
    height: 100%;
    width: 90%;
    margin: auto;
    justify-content: flex-end;
  }
  .menu-page__upper {
    font-weight: bold;
    position: absolute;
    top: 1.5em;
    right: 4em;
    font-size: 1.5em;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .menu-page {
    font-size: 1.2em;
    line-height: 3em;
    font-weight: 500;
    width: 95%;
  }

  .menu-page__wrapper {
    margin: auto;
    height: 100%;
    width: 90%;
  }
  .menu-page__upper {
    font-weight: bold;
    position: absolute;
    top: 1.7em;
    right: 1em;
    font-size: 1.5em;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .menu-page {
    font-size: 1.2em;
    line-height: 3em;
    font-weight: 500;
    width: 95%;
  }

  .menu-page__wrapper {
    height: 100%;
    width: 90%;
    margin: auto;
    justify-content: flex-end;
  }
  .menu-page__upper {
    font-weight: bold;
    position: absolute;
    top: 1.6em;
    right: 1em;
    font-size: 1.5em;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
  .menu-page {
    font-size: 1em;
    line-height: 3em;
    font-weight: 500;
    width: 95%;
  }

  .menu-page__upper {
    font-weight: bold;
    position: absolute;
    top: 1.9em;
    right: 1em;
    font-size: 1.5em;
  }

  .menu-page__wrapper {
    width: 95%;
    margin: auto;
    height: 100%;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .menu-page {
    font-size: 0.75em;
    line-height: 2em;
    font-weight: 300;
    width: 95%;
  }

  .menu-page__upper {
    font-weight: bold;
    position: absolute;
    top: 3.3em;
    right: 1em;
    font-size: 1.5em;
  }

  .menu-page__wrapper {
    width: 95%;
    margin: auto;
    height: 100%;
  }
}
