/*-----MAIN-----*/
/* Main */
.menu-page {
  background: white;
  color: black;
  margin: auto;

  h1 {
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  a {
    text-transform: uppercase;
  }
}

.menu-page__section {
  border-bottom: 12px dotted black;
  padding-bottom: 2em;
  margin-top: 2em;
}

.menu-page__section--last {
  margin-top: 2em;
  margin-bottom: 2em;
}

.menu-page:last-shild {
  border-bottom: none;
}

.menu-page__submenu {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  font-size: 0.85em;
}

.menu-page__submenu-title {
  font-weight: bold;
}

.menu-page__submenu-link {
  background-color: white;
  color: rgb(55, 53, 53);
  border: none;
  margin-right: 1em;
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  text-decoration: underline;
}

.menu-page__submenu-link:hover {
  color: blue;
}

.menu-page__section-title {
  font-weight: bold;
  text-transform: uppercase;
}

.menu-page__section-subtitle {
  font-weight: bold;
}

.menu-page__wrapper {
  padding-top: 2em;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* Small screens - MOBILE */

// mobile
@media (max-width: 599px) {
  .menu-page {
    width: 95%;
    margin-top: 4em;
    margin-bottom: 4em;
    font-size: 12px;
  }

  .menu-page__wrapper {
    width: 95%;
    margin: auto;
  }
}

// tublet-portrait
@media (min-width: 600px) {
  .menu-page {
    width: 95%;
    margin-top: 4em;
    margin-bottom: 4em;
  }

  .menu-page__wrapper {
    margin: auto;
    width: 95%;
  }
}

// tablet-landscape
@media (min-width: 900px) {
  .menu-page {
    width: 70%;
    margin-top: 1em;
    margin-bottom: 5em;
  }

  .menu-page__wrapper {
    height: 100%;
    width: 95%;
    margin: auto;
    justify-content: flex-end;
  }
}


// desktop/laptop
@media (min-width: 1200px) {
  .menu-page {
    width: 75%;
    margin-top: 1em;
    margin-bottom: 5em;
  }

  .menu-page__wrapper {
    width: 95%;
    margin: auto;
    height: 100%;
  }
}

// desktop x-large
@media (min-width: 1800px) {
  .menu-page {
    width: 1200px;
    margin-top: 6em;
    margin-bottom: 6em;
  }

  .menu-page__wrapper {
    width: 90%;
    margin: auto;
    height: 100%;
  }
}