/*-----MAIN-----*/
.intro {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10%;
}

.intro__gallery {
  overflow: hidden;
  z-index: -1;
}

.intro__text {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
}

.intro__address {
  font-family: 'Montserrat Alternates', sans-serif;
}

/* Small screens - MOBILE */

/* max-width 640px, mobile-only styles, orientation: portrait */
@media only screen and (max-width: 40em) and (orientation: portrait) {
  .intro {
    margin-top: 65px;
    width: 100%;
    height: calc(100vh - 65px);
  }
  .intro__background {
    display: none;
  }

  .intro__gallery {
    width: 100%;
    height: calc(100vh - 65px);
  }

  .intro__text {
    position: absolute;
    top: 100px;
    left: 1em;
    height: 70vh;

    margin: auto;
  }

  .intro__title *,
  .intro__address * {
    background-color: rgba(23, 23, 23, 0.8);
  }
  .intro__title {
    line-height: 1.5em;
  }
}

/* max-width 640px, mobile-only styles, orientation: landscape */
@media only screen and (max-width: 40em) and (orientation: landscape) {
  .intro {
    margin-top: 65px;
    width: 100%;
    height: calc(100vh - 65px);
  }
  .intro__background {
    display: none;
  }

  .intro__gallery {
    width: 100%;
    height: calc(100vh - 65px);
  }

  .intro__text {
    position: absolute;
    top: 75px;
    left: 1.5em;
    height: 40vh;
    margin: auto;
  }

  .intro__title *,
  .intro__address * {
    background-color: rgba(23, 23, 23, 0.8);
  }
  .intro__title {
    line-height: 1.5em;
  }
}

/* Medium screens - TABLET */

/* min-width 641px and max-width 1024px, orientation: portrait */
@media only screen and (min-width: 40.063em) and (max-width: 64em) and (orientation: portrait) {
  .intro {
    margin-top: 65px;
    width: 100%;
    height: calc(100vh - 65px);
  }
  .intro__background {
    display: none;
  }

  .intro__gallery {
    width: 100%;
    height: calc(100vh - 65px);
  }

  .intro__text {
    position: absolute;
    top: 100px;
    left: 5%;
    height: 70vh;
    font-size: 2em;
    margin: auto;
  }

  .intro__title *,
  .intro__address * {
    background-color: rgba(23, 23, 23, 0.8);
  }
  .intro__title {
    line-height: 1.5em;
  }
}

/* min-width 641px and max-width 1024px, orientation: landscape */
@media only screen and (min-width: 40.063em) and (max-width: 64em) and (orientation: landscape) {
  .intro {
    margin-top: 65px;
    width: 100%;
    height: calc(100vh - 65px);
  }
  .intro__background {
    display: none;
  }

  .intro__gallery {
    width: 100%;
    height: calc(100vh - 65px);
  }

  .intro__text {
    position: absolute;
    top: 70px;
    left: 5%;
    height: 70vh;
    font-size: 1.4em;
    margin: auto;
  }

  .intro__title *,
  .intro__address * {
    background-color: rgba(23, 23, 23, 0.8);
  }
  .intro__title {
    line-height: 1.5em;
  }
}

/* Large screens - DESKTOP */
/* min-width 1025px, large screens */

/* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  .intro {
    width: 80%;
    height: calc(100vh - 65px);
    margin-top: 65px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .intro__gallery {
    width: 60%;
  }

  .intro__text {
    width: 60%;
    height: 70vh;
    margin: auto;
  }

  .intro__title {
    line-height: 2em;
    font-size: 4.5em;
  }

  .intro__background {
    position: absolute;
    top: 65px;
    left: 10%;
    width: 45%;
    z-index: -2;
    height: calc(100vh - 65px);
    background-color: rgba(46, 46, 48, 0.5);
    animation: 0.5s fade-in linear;
  }

  @keyframes fade-in {
    0% {
      width: 0;
      opacity: 1;
    }
    100% {
      width: 45%;
      opacity: 1;
    }
  }
}

/* XLarge screens */

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  .intro {
    width: 80%;
    height: calc(100vh - 65px);
    margin-top: 65px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .intro__gallery {
    width: 60%;
  }

  .intro__text {
    width: 60%;
    height: 85vh;
    margin: auto;
  }

  .intro__title {
    line-height: 1.5em;
    font-size: 6em;
  }

  .intro__address {
    font-size: 1.5em;
  }

  .intro__background {
    position: absolute;
    top: 65px;
    left: 10%;
    width: 43.5%;
    z-index: -2;
    height: calc(100vh - 65px);
    background-color: rgba(46, 46, 48, 0.5);
    animation: 0.5s fade-in linear;
  }

  @keyframes fade-in {
    0% {
      width: 0;
      opacity: 1;
    }
    100% {
      width: 43.5%;
      opacity: 1;
    }
  }
}

/* XXLarge screens */
/* min-width 1921px, xlarge screens */
@media only screen and (min-width: 120.063em) {
  .intro {
    width: 80%;
    height: calc(100vh - 65px);
    margin-top: 65px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .intro__gallery {
    width: 60%;
  }

  .intro__text {
    width: 60%;
    height: 85vh;
    margin: auto;
  }

  .intro__title {
    line-height: 1.5em;
    font-size: 6em;
  }

  .intro__address {
    font-size: 1.8em;
  }

  .intro__background {
    position: absolute;
    top: 65px;
    left: 10%;
    width: 45%;
    z-index: -2;
    height: calc(100vh - 65px);
    background-color: rgba(46, 46, 48, 0.5);
    animation: 0.5s fade-in linear;
  }

  @keyframes fade-in {
    0% {
      width: 0;
      opacity: 1;
    }
    100% {
      width: 45%;
      opacity: 1;
    }
  }
}
