/*-----MAIN-----*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
  font-weight: 500;
  background-color: transparent;
}

.header__wrapper {
  height: 100%;
  margin: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  height: auto;
}

.header__button {
  position: relative;
  z-index: 4;

  &:hover {
    cursor: pointer;
  }

  .line-one,
  .line-two {
    position: absolute;
    border-bottom: 2px solid white;
    left: 0;
    width: 100%;
  }

  .line-one {
    top: 30%;
  }

  .line-two {
    top: 70%;
  }
}


/* Small screens - MOBILE */

/* mobile portrait */
@media (max-width: 599px) {
  .header {
    height: 3em;
  }

  .header__wrapper {
    width: 95%;
  }

  .header__logo {
    width: 5em;
  }

  .header__button {
    width: 25px;
    height: 20px;
  }

}


// tublet-portrait
@media (min-width: 600px) {
  .header {
    height: 4em;
  }

  .header__wrapper {
    width: 95%;
  }

  .header__logo {
    width: 6em;
  }

  .header__button {
    width: 25px;
    height: 20px;
  }
}

// tablet-landscape
@media (min-width: 900px) {
  .header {
    height: 4em;
  }

  .header__wrapper {
    width: 95%;
  }

  .header__logo {
    width: 6em;
  }

}

// desktop/laptop
@media (min-width: 1200px) {
  .header {
    height: 4em;
  }

  .header__wrapper {
    width: 95%;
  }

  .header__logo {
    width: 6em;
  }
}

/* XLarge screens */
// desktop x-large
@media (min-width: 1800px) {
  .header {
    height: 6em;
  }

  .header__wrapper {
    width: 90%;
  }

  .header__logo {
    width: 8em;
  }

  .header__button {
    width: 30px;
    height: 24px;
  }
}