/*-----MAIN-----*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  font-weight: 500;
  background-color: rgb(11, 11, 11);
}

.header__wrapper {
  width: 80%;
  margin: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 40%;
  height: 65px;
}

.header__logo img {
  width: 120px;
  margin-top: 10px;
}

.header__logo img:hover {
  opacity: 0.7;
}
.header__logo-img {
  width: 150px;
}

.header__links {
  width: 40%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.header__links a {
  color: white;
  text-decoration: none;
  font-weight: middle;
}

.header__links a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Small screens - MOBILE */

/* max-width 640px, mobile-only styles, orientation: portrait */
@media only screen and (max-width: 40em) and (orientation: portrait) {
  .header {
    background-color: black;
  }
  .header__wrapper {
    width: 100%;
  }

  .header__logo-img {
    width: 100px;
    margin: 1em;
  }
  .header__links {
    display: none;
  }
}

/* max-width 640px, mobile-only styles, orientation: landscape */
@media only screen and (max-width: 40em) and (orientation: landscape) {
  .header {
    background-color: black;
  }
  .header__wrapper {
    width: 91%;
    margin: auto;
  }

  .header__logo {
    width: 30%;
  }
  .header__links {
    width: 60%;
  }
}

/* Medium screens - TABLET */

/* min-width 641px and max-width 1024px, orientation: portrait */
@media only screen and (min-width: 40.063em) and (max-width: 64em) and (orientation: portrait) {
  .header {
    background-color: black;
  }
  .header__wrapper {
    width: 90%;
    margin: auto;
  }
  .header__logo-img {
    width: 80px;
  }

  .header__logo {
    width: 40%;
  }
  .header__links {
    width: 50%;
  }
}

/* min-width 641px and max-width 1024px, orientation: portrait */
@media only screen and (min-width: 40.063em) and (max-width: 64em) and (orientation: landscape) {
  .header {
    background-color: black;
  }
  .header__wrapper {
    width: 90%;
    margin: auto;
  }

  .header__logo {
    width: 40%;
  }
  .header__links {
    width: 50%;
  }
}

/* Large screens - DESKTOP */
/* min-width 1025px, large screens */

/* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  .header {
    height: 4em;
  }
  .header__wrapper {
    width: 90%;
    margin: auto;
  }
  .header__logo {
    width: 45%;
  }
  .header__links {
    width: 45%;
  }
  .header a {
    font-size: 1.2em;
  }
}

/* XLarge screens */

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  .header {
    height: 4em;
  }
  .header a {
    font-size: 1.2em;
  }
}

/* XXLarge screens */
/* min-width 1921px, xlarge screens */
@media only screen and (min-width: 120.063em) {
  .header {
    height: 4em;
  }
  .header a {
    font-size: 1.2em;
  }
}
