/* common */

/* mobile portrait */
@media (min-width: 320px) and (max-width: 479px) {
}

/* mobile landscape */
@media (min-width: 480px) and (max-width: 767px) {
  .about {
    width: 95%;
    margin: 50px auto;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
  }
}

/* tablet-portrait */
@media (min-width: 768px) and (max-width: 999px) {
  .about {
    width: 70%;
    margin: 100px auto;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
  }
}

/* tablet-landscape */
@media (min-width: 1000px) and (max-width: 1279px) {
  .about {
    width: 700px;
    margin: 100px auto;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
  }
}

/* desktop */
@media (min-width: 1280px) and (max-width: 1919px) {
  .about {
    width: 850px;
    margin: 100px auto;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
  }
}

/* desktop XXL */
@media (min-width: 1920px) {
  .about {
    width: 900px;
    margin: 100px auto;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
  }
}
