@import './normalize.css';

$aos-distance: 20px; // It has to be above import
@import 'node_modules/aos/src/sass/aos.scss';

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro.woff') format('woff'),
    url('../fonts/GothamPro.eot') format('eot'),
    url('../fonts/GothamPro.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: 'GothamPro';
  background-color: #0b0b0b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat Alternates', sans-serif;
}

.main-wrapper {
  flex: 1 0 auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  flex-shrink: 0;
}
