@import './normalize.css';

$aos-distance: 20px; // It has to be above import
@import 'node_modules/aos/src/sass/aos.scss';

[data-aos='custom-fade-in'] {
  opacity: 0;
  &.aos-animate {
    opacity: 1;
    animation: 0.75s fadeIn linear;
  }
}

@keyframes fadeIn {
  0% {
    width: 0;
    height: 90%;
    opacity: 0;
  }
  50% {
    width: 50%;
    height: 90%;
    opacity: 0.2;
  }
  100% {
    width: 90%;
    height: 90%;
    opacity: 1;
  }
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro/GothamPro.woff') format('woff'),
    url('../fonts/GothamPro/GothamPro.eot') format('eot'),
    url('../fonts/GothamPro/GothamPro.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratAlternates';
  src: url('../fonts/MontserratAlternates/MontserratAlternates-Medium.ttf')
      format('ttf'),
    url('../fonts/MontserratAlternates/MontserratAlternates-Medium.eot')
      format('eot'),
    url('../fonts/MontserratAlternates/MontserratAlternates-Medium.woff')
      format('woff'),
    url('../fonts/MontserratAlternates/MontserratAlternates-Bold.ttf')
      format('ttf'),
    url('../fonts/MontserratAlternates/MontserratAlternates-Bold.eot')
      format('eot'),
    url('../fonts/MontserratAlternates/MontserratAlternates-Bold.woff')
      format('woff'),
    url('../fonts/MontserratAlternates/MontserratAlternates-ExtraBold.ttf')
      format('ttf'),
    url('../fonts/MontserratAlternates/MontserratAlternates-ExtraBold.eot')
      format('eot'),
    url('../fonts/MontserratAlternates/MontserratAlternates-ExtraBold.woff')
      format('woff'),
    url('../fonts/MontserratAlternates/MontserratAlternates-Regular.ttf')
      format('ttf'),
    url('../fonts/MontserratAlternates/MontserratAlternates-Regular.eot')
      format('eot'),
    url('../fonts/MontserratAlternates/MontserratAlternates-Regular.woff')
      format('woff'),
    url('../fonts/MontserratAlternates/MontserratAlternates-SemiBold.ttf')
      format('ttf'),
    url('../fonts/MontserratAlternates/MontserratAlternates-SemiBold.eot')
      format('eof'),
    url('../fonts/MontserratAlternates/MontserratAlternates-SemiBold.woff')
      format('woff');

  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: 'GothamPro';
  background-color: #0b0b0b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'MontserratAlternates', sans-serif;
}

h1 {
  font-weight: lighter;
}

.main-wrapper {
  flex: 1 0 auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  flex-shrink: 0;
}
