@import './normalize.css';
html,
body {
  font-family: 'Montserrat Alternates', sans-serif;
  background-color: #151515;
}

.main-wrapper {
  flex: 1 0 auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  flex-shrink: 0;
}
