/* common */
footer {
  color: black;
  width: 100%;
}

.footer a {
  color: black;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: auto;
}

/* mobile portrait */
@media (min-width: 320px) and (max-width: 479px) {
}

/* mobile landscape */
@media (min-width: 480px) and (max-width: 767px) {
}

/* tablet-portrait */
@media (min-width: 768px) and (max-width: 999px) {
  .footer__wrapper {
    width: 95%;
    height: 100px;
    margin-bottom: 0em;
    font-size: 12px;
  }
}

/* tablet-landscape */
@media (min-width: 1000px) and (max-width: 1279px) {
  .footer__wrapper {
    width: 80%;
    height: 100px;
    margin-bottom: 0em;
    font-size: 12px;
  }
}

/* desktop */
@media (min-width: 1280px) and (max-width: 1919px) {
  .footer__wrapper {
    width: 80%;
    height: 100px;
    margin-bottom: 0em;
    font-size: 12px;
  }
}

/* desktop XXL */
@media (min-width: 1920px) {
  .footer__wrapper {
    width: 75%;
    height: 100px;
    margin-bottom: 1em;
    font-size: 18px;
  }
}
