/* Main */
.footer {
  width: 100%;
  height: auto;
  margin: auto;
  background-color: rgba(11, 11, 11, 0.5);
  color: white;
}

.footer__wrapper {
  font-size: 1.2em;
  display: grid;
  margin-top: 0;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1em;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    ' address  logo'
    ' contact-info  working-time'
    ' maps  social'
    ' author  copy';
}
.footer__address,
.footer__contacts,
.footer__maps {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-self: center;
  line-height: 2em;
}
.footer__address {
  grid-area: address;
}
.footer__contacts {
  grid-area: contact-info;
}
.footer__maps {
  grid-area: maps;
}
.footer__logo {
  grid-area: logo;
  justify-self: end;
  align-self: center;
  width: 150px;
  height: auto;
  z-index: 200;
}

.footer__working-time {
  grid-area: working-time;
  justify-self: end;
  align-self: center;
  line-height: 2em;
}
.footer__social {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  grid-area: social;
  width: 100px;
  justify-self: end;
  align-self: center;
}
.footer__author {
  grid-area: author;
  align-self: center;
}
.footer__copy {
  grid-area: copy;
  justify-self: end;
  align-self: center;
}

.footer__maps {
  z-index: 200;
}

.footer a {
  color: white;
  z-index: 200;
}

.footer a:hover {
  opacity: 0.7;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) and (orientation: portrait) {
  .footer__wrapper {
    width: 90%;
    margin: auto;
    height: 70vh;
  }
  .footer {
    line-height: 3em;
  }
  .footer__wrapper {
    font-size: 1em;
    margin-bottom: 1em;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      'logo'
      'address'
      'contact-info'
      'maps'
      'working-time'
      'social'
      'author'
      'copy';
  }
  .footer__logo,
  .footer__social,
  .footer__copy,
  .footer__working-time {
    justify-self: start;
  }
  .footer__logo {
  }
}

/* Extra small devices (landscape phones, less than 576px) */
@media (max-width: 575.98px) and (orientation: landscape) {
  .footer__wrapper {
    width: 90%;
    margin: 2em auto;
    height: 100vh;
  }

  .footer__logo {
    width: 100px;
    margin-bottom: 1.5em;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .footer__wrapper {
    width: 90%;
    margin: 2em auto;
    height: 100vh;
  }

  .footer__logo {
    width: 100px;
    margin-bottom: 1em;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .footer__wrapper {
    width: 90%;
    margin: 2em auto;
  }

  .footer__logo {
    width: 100px;
    margin-bottom: 0.7em;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .footer__wrapper {
    width: 80%;
    height: 50vh;
  }
}

/* Extra large devices (large desktops, 1200px and 1439px) */
@media (min-width: 1200px) and (max-width: 1440px) {
  .footer__wrapper {
    width: 80%;
    height: 50vh;
  }
}

/* Extra large devices (large desktops, 1440px and up) */
@media (min-width: 1441px) {
  .footer__wrapper {
    width: 80%;
    height: 50vh;
  }
}

/* iPad Pro Portrait */
@media only screen and (device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (device-width: 1024px) and (orientation: portrait) and (-o-min-device-pixel-ratio: 3/2),
  only screen and (device-width: 1024px) and (orientation: portrait) and (min__moz-device-pixel-ratio: 1.5),
  only screen and (device-width: 1024px) and (orientation: portrait) and (min-device-pixel-ratio: 1.5) {
  .footer__wrapper {
    width: 90%;
    margin: auto;
  }
}

/* iPad Pro Landscape */
@media only screen and (device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (device-width: 1366px) and (orientation: landscape) and (-o-min-device-pixel-ratio: 3/2),
  only screen and (device-width: 1366px) and (orientation: landscape) and (min__moz-device-pixel-ratio: 1.5),
  only screen and (device-width: 1366px) and (orientation: landscape) and (min-device-pixel-ratio: 1.5) {
  .footer__wrapper {
    width: 90%;
    margin: auto;
  }
}
