/*-----MAIN-----*/
.footer {
  width: 100%;
  background-color: rgba(11, 11, 11, 0);
  color: white;
  text-transform: uppercase;
}

.footer__wrapper {
  font-size: 1.2em;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    ' address  logo'
    ' contact-info  working-time'
    ' maps  social'
    ' author  copy';
}
.footer__address,
.footer__contacts,
.footer__maps {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-self: center;
  line-height: 2em;
}
.footer__address {
  grid-area: address;
}
.footer__contacts {
  grid-area: contact-info;
}
.footer__maps {
  grid-area: maps;
}
.footer__logo {
  grid-area: logo;
  justify-self: end;
  align-self: center;
  width: 150px;
  height: auto;
  z-index: 200;
}

.footer__working-time {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: right;
  grid-area: working-time;
  justify-self: end;
  line-height: 2em;
}
.footer__social {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 2em;
  justify-self: end;
  grid-area: social;
}
.footer__author {
  grid-area: author;
  align-self: center;
}
.footer__copy {
  grid-area: copy;
  justify-self: end;
  align-self: center;
}

.footer__maps {
  z-index: 200;
}

.footer a {
  color: white;
  z-index: 200;
}

.footer a:hover {
  opacity: 0.7;
}
/* Small screens - MOBILE */

/* max-width 640px, mobile-only styles, orientation: portrait */
@media only screen and (max-width: 40em) and (orientation: portrait) {
  .footer {
    line-height: 1.5em;
    margin-top: 65px;
    height: auto;
    font-size: 0.85em;
  }
  .footer__wrapper {
    height: 90vh;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1em;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      'logo'
      'address'
      'contact-info'
      'maps'
      'working-time'
      'social'
      'author'
      'copy';
  }

  .footer__logo {
    display: none;
  }
  .footer__social,
  .footer__copy,
  .footer__working-time {
    justify-self: start;
  }
  .footer__working-time {
    text-align: left;
  }
}

/* max-width 640px, mobile-only styles, orientation: landscape */
@media only screen and (max-width: 40em) and (orientation: landscape) {
  .footer {
    height: auto;
    line-height: 3em;
    font-size: 0.7em;
  }
  .footer__wrapper {
    width: 90%;
    margin: 4% 5%;
  }

  .footer__logo {
    width: 100px;
    margin-bottom: 1.5em;
  }
}

/* Medium screens - TABLET */

/* min-width 641px and max-width 1024px, orientation: portrait */
@media only screen and (min-width: 40.063em) and (max-width: 64em) and (orientation: portrait) {
  .footer__wrapper {
    width: 90%;
    margin: 1.5em auto;
    line-height: 3em;
    font-size: 0.9em;
  }

  .footer__logo {
    width: 100px;
    margin-bottom: 0.7em;
  }
}

/* min-width 641px and max-width 1024px, orientation: landscape */
@media only screen and (min-width: 40.063em) and (max-width: 64em) and (orientation: landscape) {
  .footer {
    line-height: 3em;
    font-size: 0.75em;
  }
  .footer__wrapper {
    width: 90%;
    margin: 5%;
    -ms-align-self: center;
    align-self: center;
  }
}

/* iPad Pro Portrait */
@media only screen and (device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (device-width: 1024px) and (orientation: portrait) and (-o-min-device-pixel-ratio: 3/2),
  only screen and (device-width: 1024px) and (orientation: portrait) and (min__moz-device-pixel-ratio: 1.5),
  only screen and (device-width: 1024px) and (orientation: portrait) and (min-device-pixel-ratio: 1.5) {
  .footer {
    height: 30vh;
    line-height: 5em;
  }
  .footer__wrapper {
    width: 90%;
    margin: 5%;
    -ms-align-self: center;
    align-self: center;
  }
}

/* Large screens - DESKTOP */
/* min-width 1025px, large screens */

/* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  .footer {
    line-height: 5em;
    font-size: 0.85em;
  }
  .footer__wrapper {
    height: auto;
    margin: 2% 5%;
    width: 90%;
    -ms-align-self: center;
    align-self: center;
  }
}

/* XLarge screens */

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  .footer {
    line-height: 6em;
    font-size: 0.8em;
  }
  .footer__wrapper {
    width: 80%;
    margin: 2% 10%;
    -ms-align-self: center;
    align-self: center;
  }
}

/* XXLarge screens */
/* min-width 1921px, xlarge screens */
@media only screen and (min-width: 120.063em) {
  .footer {
    line-height: 7em;
    font-size: 0.8em;
  }
  .footer__wrapper {
    width: 80%;
    margin: 2% 10%;
    -ms-align-self: center;
    align-self: center;
  }
}
