footer {
  width: 100%;
  color: black;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin: auto;

  a {
    color: black;
  }
}

// mobile
@media (max-width: 599px) {
  .footer__wrapper {
    width: 90%;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 4em;
  }
}

// tublet-portrait
@media (min-width: 600px) {
  .footer__wrapper {
    width: 75%;
    height: 4em;
  }
}

// tablet-landscape
@media (min-width: 900px) {
  .footer__wrapper {
    width: 75%;
    height: 2em;
  }
}

// desktop/laptop
@media (min-width: 1200px) {
  .footer__wrapper {
    width: 80%;
    height: 2em;
  }
}

// desktop x-large
@media (min-width: 1800px) {
  .footer__wrapper {
    width: 1200px;
    height: 100px;
  }
}