.submenu {
  width: 100%;
  height: 100%;
  text-transform: uppercase;


  .submenu__title {
    margin-bottom: 1em;
  }

  .submenu__links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .submenu__link {
    align-self: flex-start;
    text-decoration: underline;
    font-weight: bold;
    transition: all 0.25s ease-in-out;
    width: auto;

    &:hover {
      cursor: pointer;
      color: blue;
    }
  }
}