.burger {
  width: auto;
  height: auto;
}

.burger path {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-button:hover path {
  d: path('M4 10h12M4 16h18M4 22h26');
}
