.nav-closed {
  height: 100%;
  width: 100%;
  background: #0b0b0b;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.3 ease-in-out;
}

.nav-opened {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  background: black;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}

.nav-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  margin-left: 1em;
}

.nav-wrapper a {
  text-decoration: none;
  color: white;
}

.nav-wrapper__link {
  width: 100%;
  font-size: 1.7em;
  line-height: 4em;
  font-weight: 400;
}

.nav-wrapper a:hover {
  text-decoration: underline;
}

.nav-wrapper__links {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 4em;
}
