/*-----MAIN-----*/
#intro {
  position: relative;
  width: 100vw;
  height: 100vh;
  color: white;
}

.intro__bg {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  z-index: 0;

  video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(0.75);
  }
}

.intro__title {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  z-index: 10;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: bold;
  opacity: 0;

  h1 {
    margin-bottom: 0.5em;
  }
}

.intro__footer {
  position: absolute;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  opacity: 0;

  a {
    color: white;
  }
}

// mobile
@media (max-width: 599px) {
  .intro__title {
    text-align: left;
    margin-left: 2.5%;

    h1 {
      font-size: 1.5em;
    }
  }

  .intro__footer {
    bottom: 12%;
    left: 2.5%;
    width: 95%;
    font-weight: bold;
    flex-direction: column;
    height: auto;
    align-items: end;
    line-height: 1.5em;

    .intro___menu-download {
      width: 14em;
      height: 3em;
      font-size: 12px;
      margin-top: 2em;
    }
  }
}

// tublet-portrait
@media (min-width: 600px) {
  .intro__footer {
    bottom: 5%;
    left: 2.5%;
    width: 95%;
  }
}

// tablet-landscape
@media (min-width: 900px) {
  .intro-slogan {
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    z-index: 10;
    text-align: center;

    h1 {
      font-weight: 900;
      letter-spacing: 3px;
    }

    span {
      font-weight: 900;
      letter-spacing: 2px;
    }
  }

  .intro__footer {
    bottom: 5%;
    left: 2.5%;
    width: 95%;
  }
}

// desktop/laptop
@media (min-width: 1200px) {
  .intro__footer {
    bottom: 5%;
    left: 2.5%;
    width: 95%;
  }
}

// desktop x-large
@media (min-width: 1800px) {
  .intro__bg {}

  .intro__title {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    z-index: 10;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: bold;
    opacity: 0;

    h1 {
      margin-bottom: 0.5em;
    }
  }

  .intro__footer {
    bottom: 5%;
    left: 5%;
    width: 90%;
  }
}