/*-----MAIN-----*/
#intro {
  position: relative;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  p {
    margin: 0;
    padding: 0;
  }
}

.intro__video {
  height: auto;
  opacity: 0;
}


.intro__slogan {
  text-align: center;

  .intro__title {}
}

.intro__working-time {}

.intro__social {
  position: fixed;
  flex-direction: column;
  justify-content: space-between;

  svg {
    width: 100%;
    height: auto;

    path {
      fill: black;
    }
  }
}

@media (max-width: 599px) {
  #intro {
    margin-top: 4em;
    height: 80vh;
  }

  .intro__video {
    width: 90%;
    height: auto;
  }

  .intro__social {
    display: none;
  }

  .intro__slogan {
    text-align: center;
    margin-top: 0em;
    margin-bottom: 1em;

    h1 {
      font-size: 1.7em;
    }
  }

  .intro__working-time {
    margin-bottom: 2em;
  }
}

// tublet-portrait
@media (min-width: 600px) {
  #intro {
    height: 100vh;
  }

  .intro__video {
    width: 75%;
  }

  .intro__social {
    display: flex;
    bottom: 5%;
    left: 5%;
    width: 0.75em;
    height: 3.5em;
  }

  .intro__slogan {
    text-align: center;
    margin-top: 0em;
    margin-bottom: 1em;
  }

  .intro__working-time {
    margin-bottom: 2em;
  }
}

// tablet-landscape
@media (min-width: 900px) {
  .intro__video {
    width: 75%;
  }

  .intro__social {
    display: flex;
    bottom: 5%;
    left: 5%;
    width: 0.75em;
    height: 3.5em;
  }

  .intro__slogan {
    text-align: center;
    margin-top: 4em;
    margin-bottom: 1em;
  }

  .intro__working-time {
    margin-bottom: 2em;
  }
}

// desktop/laptop
@media (min-width: 1200px) {
  .intro__video {
    width: 60%;
  }

  .intro__social {
    bottom: 5%;
    left: 5%;
    width: 1.1em;
    height: 4em;
  }

  .intro__slogan {
    text-align: center;
    margin-top: 4em;
    margin-bottom: 1em;
  }

  .intro__working-time {
    margin-bottom: 2em;
  }
}

// desktop x-large
@media (min-width: 1800px) {
  .intro__video {
    width: 50%;
  }

  .intro__social {
    bottom: 6%;
    left: 5%;
    width: 1.1em;
    height: 4em;
  }

  .intro__slogan {
    text-align: center;
    margin-top: 4em;
    margin-bottom: 1em;
  }

  .intro__working-time {
    margin-bottom: 2em;
  }

  .intro__arrow {
    position: absolute;
    bottom: 6%;
    right: 5%;
    width: 2em;
    height: 2em;
  }
}