/* Main */

.instagram-card {
  -webkit-background-size: cover;
  background-size: cover;
  border: 2px solid rgb(120, 121, 117);
}

/*
  ##Device = Desktops
  ##Screen = 1680 to higher resolution desktops
*/

@media (min-width: 1680px) {
  .instagram-card {
    width: calc(25% - 6px);
    height: 38vh;
  }
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) and (max-width: 1679px) {
  .instagram-card {
    width: calc(25% - 6px);
    height: 30vh;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .instagram-card {
    width: calc(25% - 6px);
    height: 30vh;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .instagram-card {
    width: calc(33% - 6px);
    height: 40vh;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .instagram-card {
    width: calc(50% - 6px);
    height: 35vh;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 823px
*/

@media (min-width: 481px) and (max-width: 823px) and (orientation: landscape) {
  .instagram-card {
    width: calc(50% - 6px);
    height: 80vh;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .instagram-card {
    width: calc(100% - 6px);
    height: 40vh;
  }
}
