/* common */

/* mobile portrait */
@media (min-width: 320px) and (max-width: 479px) {
  .team {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    font-size: 18px;
    line-height: 24px;
  }

  .team__title {
    text-align: center;
    margin-bottom: 1em;
  }

  .team__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

/* mobile landscape */
@media (min-width: 480px) and (max-width: 767px) {
  .team {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
    font-size: 18px;
    line-height: 24px;
  }

  .team__title {
    text-align: center;
    margin-bottom: 1em;
  }

  .team__cards {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
  }
}

/* tablet-portrait */
@media (min-width: 768px) and (max-width: 999px) {
  .team {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
    font-size: 18px;
    line-height: 24px;
  }

  .team__title {
    text-align: center;
    margin-bottom: 1em;
  }

  .team__cards {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
  }
}

/* tablet-landscape */
@media (min-width: 1000px) and (max-width: 1279px) {
  .team {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
    font-size: 18px;
    line-height: 30px;
  }

  .team__title {
    text-align: center;
    margin-bottom: 1em;
  }

  .team__cards {
    display: flex;
    justify-content: space-between;
  }
}

/* desktop */
@media (min-width: 1280px) and (max-width: 1919px) {
  .team {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
    font-size: 18px;
    line-height: 30px;
  }

  .team__title {
    text-align: center;
    margin-bottom: 1em;
  }

  .team__cards {
    display: flex;
    justify-content: space-between;
  }
}

/* desktop XXL */
@media (min-width: 1920px) {
  .team {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
    font-size: 24px;
    line-height: 36px;
  }

  .team__title {
    text-align: center;
    margin-bottom: 1em;
  }

  .team__cards {
    display: flex;
    justify-content: space-between;
  }
}
